In [11]:
import pandas as pd
test = pd.read_csv("C:\codestuffs\Applied-Machine-Learning\hw4\\arcene_train_labels.csv")

<>:2: SyntaxWarning: invalid escape sequence '\c'
<>:2: SyntaxWarning: invalid escape sequence '\c'
C:\Users\Kevin\AppData\Local\Temp\ipykernel_16048\3216121309.py:2: SyntaxWarning: invalid escape sequence '\c'
  test = pd.read_csv("C:\codestuffs\Applied-Machine-Learning\hw4\\arcene_train_labels.csv")

In [12]:
test

    Column1
0         1
1        -1
2         1
3         1
4        -1
..      ...
95       -1
96       -1
97        1
98       -1
99        1

[100 rows x 1 columns]